

<head>
  <div class="hd">
      <h1>
        Editing Profile 
      </h1>
  </div>
  <br/>
</head>

<div class="pt-idx">

	<%= render 'form', profile: @profile %>

	<%= link_to 'Back', profiles_path %>

</div>


