<div>
	<div class='cmt-dp'>
		<%= "#{current_user.username}: #{comment.description} (#{comment.created_at.strftime("%B %d %Y, %l:%M%P")})" %>
		<%=link_to 'Delete', [@photo, comment], method: :delete%>
	</div>
	<br/>
</div>
