.dir {
	text-align: right;
}

.hd {
	border-bottom:2px solid #CCC;
    padding:3px;
    text-align: center;
}

#pf {
	float: right;
	font-size: 30px;
}

.pt-idx {
	background-color: #E6E6FA;
	padding: 20px;
	text-align: center;
	font-size: 20px;

}

.tb1 {
	padding-top: 20px;
	margin: 0 auto;
}

.tb1 td {
	width: 120px;
	height: 80px;
}
